<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table>
        <tr><strong>{{ singles.User }}</strong></tr>&nbsp;
        <tr>{{ singles.Date_of_entry }}</tr>&nbsp;
        <tr>{{ singles.Name_of_food }}</tr>&nbsp;
        <tr>{{ singles.Number_of_servings }}</tr>&nbsp;
        <tr>{{ singles.Serving_size_amount }}</tr>&nbsp;
        <tr>{{ singles.Serving_size_unit_of_measure }}</tr>&nbsp;
        <tr>{{ singles.Calories }}</tr>&nbsp;
        <tr>{{ singles.Calories_from_fat }}</tr>&nbsp;
        <tr>{{ singles.Total_fat }}</tr>&nbsp;
        <tr>{{ singles.Trans_fat }}</tr>&nbsp;
        <tr>{{ singles.Saturated_fat }}</tr>&nbsp;
        <tr>{{ singles.Cholesterol_unit_of_measure }}</tr>&nbsp;
        <tr>{{ singles.Sodium }}</tr>&nbsp;
        <tr>{{ singles.Sodium_unit_of_measure }}</tr>&nbsp;
        <tr>{{ singles.Total_carbohydrate }}</tr>&nbsp;
        <tr>{{ singles.Total_carbohydrate_unit_of_measure }}</tr>&nbsp;
        <tr>{{ singles.Fiber_unit_of_measure }}</tr>&nbsp;
        <tr>{{ singles.Sugars }}</tr>&nbsp;
        <tr>{{ singles.Sugars_unit_of_measure }}</tr>&nbsp;
        <tr>{{ singles.Protein }}</tr>&nbsp;
        <tr>{{ singles.Protein_unit_of_measure }}</tr>&nbsp;
        <tr>{{ singles.Vitamin_A }}</tr>&nbsp;
        <tr>{{ singles.Vitamin_C }}</tr>&nbsp;
        <tr>{{ singles.Calcium }}</tr>&nbsp;
        <tr>{{ singles.Iron }}</tr>
    </table>
</body>
</html>